<form  id="form_ingreso">
    <div class="form-group">
        <label for="txtusuario">Correo</label>
        <input type="email" class="form-control"  name="txtusuario" id="txtusuario" value="qwe@gmail.com" placeholder="Ingrese Usuario/Correo">
    </div>
    <div class="form-group">
        <label for="txtcontra">Contraseña</label>
        <input type="password" class="form-control"  name="txtcontra" id="txtcontra" value="qweqw" placeholder="Ingrese Contraseña">
    </div> 
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>